.live-input{
    border: none;
    width: auto;
}
.live-input:focus{
    box-shadow: none!important;
    outline: none;
}
.choice-input{
    height: auto;
}
.choice-input:focus-within{
    border-color: #80bdff;
    box-shadow: none!important;
}
.live-input:focus + div{
    height: 150px;
}
.input-suggestions{
    text-transform: lowercase;
    height: 0;
    transition: height 1ms 150ms;
    z-index: 100;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}
.input-suggestions *::first-letter{
    text-transform: capitalize;
}
.input-suggestions::-webkit-scrollbar{
    width: 8px;
}
.input-suggestions::-webkit-scrollbar-track{
    background-color: #eee;
}
.input-suggestions::-webkit-scrollbar-thumb{
    background-color: #aaa;
    border-radius: 5px;
}
.input-suggestions::-webkit-scrollbar-thumb:hover{
    background-color: #888;
}
.input-suggestions div:first-child {
    border-top: 1px!important;
}
.input-suggestions > table {
    margin-bottom: 0;
    max-height: 200px;
    overflow-y: scroll;
}
.pointer{
    cursor: pointer;
}
.hover-bg:hover{
    background-color: #eee;
}